[Unit]
Description=MediaWiki Job runner
After=php-fpm.service postgresql.service

[Service]
ExecStart=/usr/local/bin/mwjobrunner
Type=exec
Nice=10
User=http
OOMScoreAdjust=200
Restart=on-failure

# from php-fpm.service
PrivateTmp=true
ProtectSystem=full
ProtectControlGroups=true

ReadWritePaths=/var/spool/postfix
# not usable because of sendmail calling postdrop (a sgid program)
# PrivateDevices=true
# ProtectKernelModules=true
# ProtectKernelTunables=true
# RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
# RestrictRealtime=true
# RestrictNamespaces=true

[Install]
WantedBy=multi-user.target
